body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #0088ff;
    background-image: url('../images/FondAdmin.jpg'); /* Assurez-vous que le chemin est correct */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative; /* Ajout de la position relative pour permettre le positionnement absolu des éléments enfants */
}

#result {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* style-antoine-statut.css */

.server-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.server-info {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.server-icon {
    width: 50px;
    height: 50px;
}

.server-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.server-details {
    margin-top: 5px;
    font-size: 14px;
}