body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #0088ff;
    height: 100%;
    background-image: url('../images/FondAdmin.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.config main {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.config section {
    margin-bottom: 20px;
}

.config h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.config label {
    font-size: 18px;
    color: #333;
}

.config select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.config button,
.config input[type="submit"] {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.config button:hover,
.config input[type="submit"]:hover {
    background-color: #0056b3;
}

.config .delete-button {
    background-color: #ff4d4d;
    color: #fff;
}

.config .delete-button:hover {
    background-color: #ff3333;
}

.config .rectangle-fixe {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.config .bot-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.config .bot-form label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.config .bot-form input[type="text"],
.config .bot-form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.config .bot-form input[type="submit"] {
    cursor: pointer;
}

.config .bot-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.config .bot-message,
.config .bot-remove-message {
    font-weight: bold;
    margin-left: 10px;
}

.bot-image {
    width: 120px; /* Augmentation de la taille */
    height: 120px; /* Augmentation de la taille */
    margin-left: auto; /* Centrage horizontal */
    margin-right: auto; /* Centrage horizontal */
    display: block; /* Pour centrer */
}

#bot-level {
    width: 60px; /* Réduction de la largeur */
}
