body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #0088ff;
    background-image: url('../images/FondAdmin.jpg'); /* Assurez-vous que le chemin est correct */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative; /* Ajout de la position relative pour permettre le positionnement absolu des éléments enfants */
}

#result {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.server-info {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.server-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.server-name {
    font-size: 1.2em;
    margin-top: 10px;
}

.server-details {
    margin-top: 5px;
    font-size: 0.9em;
}
